{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome To BUBU ECOMERCE</p>
        </div>
    </div>
</header>


<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
                <p align="justify">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, officia accusantium maiores
                    impedit labore tempore sapiente aut provident soluta odio consectetur necessitatibus quos velit.
                    At cumque quidem aliquid repudiandae nulla.
                    Lorem, ipsum dolor sit amet consectetur adip
                    isicing elit. Amet autem possimus commodi et? Voluptate iste asperiores non ipsum ducimus facilis
                    dignissimos, possimus vero ipsam praesentium eius magni voluptates ab eveniet!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eveniet ipsa nam tem
                    pora fugiat aperiam vitae reprehenderit. Minima fugit quidem nemo qui nesciunt doloribus quod eum
                    fuga. Nihil, sunt harum!
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil autem
                    , rem quasi eos libero nemo, dicta ex suscipit obcaecati praesentium enim, laboriosam repre
                    henderit expedita cupiditate dolores magni iste. Praesentium, itaque!
                </p>
            </div>
        </center>
    </div>

</div>


{% endblock %}